@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To</h1>
    <h2 class="display-4">The Only Gaming Store With Pet Rocks!</h2>
    <br />
    <p>Please make your way to the products page to view all the online store products available</p>
    <br />
    <p>Tired of gaming alone? Having no friends to chat with? Get our all new Pet Rock! Will enlighten you more than Buddah</p>
</div>
