@model ShoppingCart.Application.ViewModels.ProductViewModel

<div class="form-group">
    <label class="control-label">Search by Category</label>
    <select asp-for="Category.Id" class="form-control">
        @foreach (var category in ViewBag.Categories)
        {
<option value="@category.Id">@category.Name</option>}
    </select>
    <span asp-validation-for="Category.Id" class="text-danger"></span>
</div>