<!--model PaginatedList<ShoppingCart.Domain.Models.Product


@{ var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : ""; }

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex -1)" class="btn btn-default @prevDisabled">Previous</a>
<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex +1)" class="btn btn-default @nextDisabled">Next</a>

    -->
